<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet'>

  <script src="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <link rel="stylesheet" href="main.css">

  <title></title>
</head>

<body>


  <h1>Pokemon</h1>

  <form>
    <form>
      <div> <h3>Please Enter a Trainer Name:</h3></div>
      <input type="text" id="input_id" value="">
      <input type="button" value="Submit" onclick="trainer()" />
      <div id="alert" style="color:white"></div>
    </form>
  </form>
  
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <h3>Kadabra</h3>
        <div class="card" style="width: 18rem;" id='card-kadabra'>
            <ul ng-controller="GalleryCtrl">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{064Kadabra.png}}" class="img-thumbnail">
                  </a>
                </li>
              </ul>
          <img class="card-img-top" src="064Kadabra.png" alt="Card image cap" id="myImg">
          <div class="card-body">
            <div class="card-title"></div>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <h3>Tangela</h3>
        <div class="card" style="width: 18rem;" id='card-tangela'>
            <ul ng-controller="GalleryCtrl">
                <li ng-repeat="image in images">
                  <a ng-click="openLightboxModal($index)">
                    <img ng-src="{{Tangelaanimated-1}}" class="img-thumbnail">
                  </a>
                </li>
              </ul>
          <img class="card-img-top" src="Tangelaanimated-1.gif" alt="Card image cap" id="myImg">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>    
        </div>
      </div>

      <div class="col-sm">
        <h3>Emboar</h3>
        <div class="card" style="width: 18rem;" id='card-emboar'>
          <img class="card-img-top" src="PGL_Emboar.png" alt="Card image cap" id="myImg">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>





    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img02">
      <div id="caption"></div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>

</html>